xPJClient/XmlToSchema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Pref">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Callcolors">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="color" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="backcolor" type="xs:int" />
        <xs:element name="textcolor" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="callsign" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="locator" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="useWSJTLog" type="xs:boolean" />
        <xs:element name="WSJTLog" type="xs:string" />
        <xs:element name="fontSize" type="xs:decimal" />
        <xs:element name="history" type="xs:unsignedByte" />
        <xs:element name="column0" type="xs:unsignedByte" />
        <xs:element name="column1" type="xs:unsignedByte" />
        <xs:element name="column2" type="xs:unsignedByte" />
        <xs:element name="column3" type="xs:unsignedByte" />
        <xs:element name="column4" type="xs:unsignedByte" />
        <xs:element name="column5" type="xs:unsignedByte" />
        <xs:element name="logQSOs" type="xs:boolean" />
        <xs:element name="metric" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QRZDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Key" type="xs:string" />
              <xs:element name="Count" type="xs:unsignedShort" />
              <xs:element name="SubExp" type="xs:string" />
              <xs:element name="GMTime" type="xs:string" />
              <xs:element name="Remark" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="radio">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="callsign" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="locator" type="xs:string" />
              <xs:element name="azmuth" type="xs:unsignedShort" />
              <xs:element name="distance" type="xs:unsignedShort" />
              <xs:element name="state" type="xs:string" />
              <xs:element name="country" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="equipment" type="xs:string" />
              <xs:element minOccurs="0" name="qso">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="call">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="date" type="xs:string" />
                          <xs:element name="time" type="xs:string" />
                          <xs:element name="band" type="xs:decimal" />
                          <xs:element name="report" type="xs:string" />
                          <xs:element name="mode" type="xs:string" />
                          <xs:element name="grid" type="xs:string" />
                          <xs:element name="distance" type="xs:unsignedShort" />
                          <xs:element name="power" type="xs:string" />
                          <xs:element name="antenna" type="xs:string" />
                          <xs:element name="hisPower" type="xs:string" />
                          <xs:element name="hisAntenna" type="xs:string" />
                          <xs:element name="QSOTime" type="xs:string" />
                          <xs:element name="shower" type="xs:string" />
                          <xs:element name="exchange" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>